.documents_slotlet {
	margin-bottom: 10px;
	padding: 0;
}

.documents_slotlet .title {
	text-align: left;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4.5px 0 4.5px 7px;
	margin: 0;
	background-color: #58585A;
	color: #fff;
}

.documents_slotlet .content {
	text-align: center;
	padding: 15px;
	background: url(../img/bg_slotlet.jpg) bottom repeat-x #fff;
}

.documents_slotlet .content .content-child {
	padding: 5px;
	display: list-item;
	list-style: square inside none !important;
	color: #333;
}

.documents_slotlet .content .content-child a {
	text-transform: none;
	text-decoration: none;
}

/*VIDAS Y RETRATOS*/
.documents_slotlet_vidas {
	background: #ececec;
	padding: 2px 14px 6px 10px;
}

.documents_slotlet_vidas .content-child {
	padding: 5px;
	text-align: left;
	margin-left: 4px;
	background: -moz-linear-gradient(top, rgba(186, 186, 186, 0.65) 0%,
		rgba(186, 186, 186, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(186,
		186, 186, 0.65)), color-stop(100%, rgba(186, 186, 186, 0)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(186, 186, 186, 0.65) 0%,
		rgba(186, 186, 186, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(186, 186, 186, 0.65) 0%,
		rgba(186, 186, 186, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(186, 186, 186, 0.65) 0%,
		rgba(186, 186, 186, 0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(186, 186, 186, 0.65) 0%,
		rgba(186, 186, 186, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#a6bababa',
		endColorstr='#00bababa', GradientType=0); /* IE6-9 */
}

.documents_slotlet_vidas .content-child a {
	color: #2d4237;
	text-decoration: none;
	font-size: 11px;
}